@page "/AssetAdd"


@inject NavigationManager NavigationManager
@using AssetManager.Model
@using FastMember
@inject IJSRuntime JsRuntime
<div class=" main">
    <h1>Asset</h1>

    <div class="container-fluid">

        <div class="row row-cols-1 row-cols-md-2 text-center g-4">

            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="table-dark">ID</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input class="form-control" type="text" style="width:100%" value="@accessor[asset, "id"]" readonly />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="table-dark">Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input  class="form-control" type="text" style="width:100%" @bind="newName" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="table-dark">Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input class="form-control" type="text" style="width:100%" @bind="newDesc" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="table-dark">Location</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <select class="form-control" style="width:100%" @bind="newLocId">
                                    @foreach (var loc in locList)
                                    {
                                        <option value="@loc.id">@loc.value</option>
                                    }
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="table-dark">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <select class="form-control" style="width:100%" @bind="newStatusId">
                                    @foreach (var status in statusList)
                                    {
                                        <option value="@status.id">@status.value</option>
                                    }
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="table-dark">Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <select class="form-control" style="width:100%" @bind="newTypeId">
                                    @foreach (var type in typeList)
                                    {
                                        <option value="@type.id">@type.value</option>
                                    }
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="table-dark">Manufacturer</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input placeholder="Optional" class="form-control" type="text" style="width:100%" @bind="newManufacturer" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="table-dark">Model</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input placeholder="Optional" class="form-control" type="text" style="width:100%" @bind="newModel" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="table-dark">Serial Number</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input placeholder="Optional" class="form-control" type="text" style="width:100%" @bind="newSerial" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="table-dark">Purchase Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input placeholder="Optional" class="form-control" type="date" style="width:100%" @bind="newPurchaseDate" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="table-dark">Warranty Expiration</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input placeholder="Optional" class="form-control" type="date" style="width:100%" @bind="newWarrantyExp" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="table-dark">Estimated Life</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input placeholder="Optional" class="form-control" type="number" style="width:100%" @bind="newEstimatedLife" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="table-dark">Purchase Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input placeholder="Optional" class="form-control" type="number" step="0.01" style="width:100%" @bind="newPurchasePrice" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="table-dark">Comments</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input placeholder="Optional" class="form-control" type="text" style="width:100%" @bind="newComments" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="table-dark">Item Count</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input placeholder="Optional" class="form-control" type="number" style="width:100%" @bind="newItemCount" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="table-dark">Created</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input class="form-control" type="text" style="width:100%" value="@accessor[asset, "created"]" readonly />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="table-dark">Created By</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <select class="form-control" style="width:100%" @bind="newCreatedBy">
                                    @foreach (var user in userList)
                                    {
                                        <option value="@user.id">@user.id - @user.first_name @user.last_name</option>
                                    }
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="table-dark">Updated By</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <select class="form-control" style="width:100%" @bind="newUpdatedBy">
                                    @foreach (var user in userList)
                                    {
                                        <option value="@user.id">@user.id - @user.first_name @user.last_name</option>
                                    }
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="table-dark">Last Updated</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input class="form-control" type="text" style="width:100%" value="@accessor[asset, "last_updated"]" readonly />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="table-dark">Photo URL</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input placeholder="Optional" class="form-control" type="text" style="width:100%" @bind="newPhotoUrl" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="table-dark">Path</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input placeholder="Optional" class="form-control" type="text" style="width:100%" @bind="newPath" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="table-dark">Borrowable</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input placeholder="Optional"type="checkbox" style="width:100%" checked="@accessor[asset, "borrow"]" @bind-value="newBorrow" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <button type="button" class="btn btn-primary" style="width:fit-content; margin-right:10px; margin-bottom:10px;" @onclick="() => assetAdd()">Save</button>
            <button type="button" class="btn" style="width:fit-content; margin-bottom:10px;" @onclick="() => cancelAdd()">Cancel</button>

        </div>

    </div>

</div>

@if (showError)
{
    <div class="modal fade show" style="display:block; background-color: rgba(10,10,10,.6);" aria-modal="true" role="dialog" >
        <div class="modal-dialog" @onclick:stopPropagation="true">
            <div class="modal-content">

                <!-- Modal body -->
                <div class="modal-body ">
              
                    <p class="text-black">@output</p>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" @onclick=@errorModalOk>Okay</button>                   
                </div>

            </div>
        </div>
    </div>
}

@code {
    bool showError = false;

    string output = "The following fields are missing: ";
    static Type type = typeof(Asset);
    TypeAccessor accessor = TypeAccessor.Create(type);
    Asset asset = new Asset();

    private List<Location> locList;
    private List<Status> statusList;
    private List<AssetType> typeList;
    private List<UserPartial> userList;
    
    private string newName;
    private string newDesc;
    private int newLocId;
    private int newStatusId;
    private int newTypeId;
    private string newManufacturer;
    private string newModel;
    private string newSerial;
    private DateTime? newPurchaseDate;
    private DateTime? newWarrantyExp;
    private string? newEstimatedLife;
    private string newPurchasePrice;
    private string newComments;
    private string newItemCount;
    private int newCreatedBy;
    private int newUpdatedBy;
    private string newPhotoUrl;
    private string newPath;
    private bool newBorrow;

    protected override async Task OnInitializedAsync()
    {
        locList = LocationService.GetAllLocations();
        statusList = StatusService.GetAllStatuses();
        typeList = AssetTypeService.GetAllTypes();
        userList = UserPartialService.GetAllUsers();

        string query = "select id from dbo.asset where id=(Select max(id) from dbo.asset)";
        ConnectionDB connectionDB = new ConnectionDB();
        connectionDB.OpenConnection();
        asset.id = (int)connectionDB.ShowDataInGridView(query).Tables[0].Rows[0].ItemArray[0]+1;
        connectionDB.CloseConnection();

    }
    void errorModalOk()
    {
        showError = false;
        output = "The following fields are missing: ";
    }
    async Task<bool> validity()
    {
        List<string> errorList = new List<string>();
        if (newName == null)
        {
            errorList.Add("name");
        }
        if ( newDesc == null)
        {
            errorList.Add("description");
        }
        if (newLoc == null)
        {
            errorList.Add("location");
        }
        if ( newStatus == null)
        {
            errorList.Add("status");
        }
        if ( newType == null)
        {
            errorList.Add("type");
        }
        if ( newCreatedBy == null)
        {
            errorList.Add("Created By");
        }
        if ( newUpdatedBy == null)
        {
            errorList.Add("Updated By");
        }

        if (errorList.Count == 0)
            return false;

        foreach(string s in errorList)
        {
            output += s + ", ";
        }
        output = output.Substring(0,output.Length - 2);
        showError = true;
        
        return true;
    }
    async void assetAdd()
    {
        if (await validity())
            return;
        asset.name = newName;
        asset.description = newDesc;
        asset.location_id = newLocId;
        asset.status_id = newStatusId;
        asset.type_id = newTypeId;
        asset.manufacturer = newManufacturer;
        asset.model = newModel;
        asset.serial_number = newSerial;
        asset.purchase_date = newPurchaseDate;
        asset.warranty_expiration = newWarrantyExp;
        asset.estimated_life = newEstimatedLife != null ? Int32.Parse(newEstimatedLife) : null;
        asset.purchase_price = newPurchasePrice != null ? Convert.ToDouble(newPurchasePrice) : null;
        asset.comments = newComments;
        asset.item_count = newItemCount == null ? null : Int32.Parse(newItemCount);
        asset.created_by = newCreatedBy == null ? null : Int32.Parse(newCreatedBy);
        asset.updated_by = newUpdatedBy == null ? null : Int32.Parse(newUpdatedBy);
        asset.created = DateTime.Now;
        asset.last_updated = DateTime.Now;
        asset.photo_url = newPhotoUrl;
        asset.path = newPath;
        asset.borrow = newBorrow;
        
        await AssetService.AddAsset(asset);
          

        NavigationManager.NavigateTo("/Admin/Asset");
    }

    void cancelAdd()
    {
        NavigationManager.NavigateTo("/Admin/Asset");
    }
}
