@page "/AssetFull"

@attribute [Authorize]

@inject Model.Asset asset
@inject NavigationManager NavigationManager
@using AssetManager.Model
@using FastMember

<div class=" main">
    <div class="assetNum mb-6">
        <h1>Asset @asset.id</h1>
    </div>
    
    <div class="table-actions">
        <div class="table-actions-1">
            <a href="/asset" class="btn btn-primary" title="Go back to asset">Back</a>
        </div>
        <AuthorizeView Roles="Admin">
            <div  class="table-actions-2">
            <button type="button" class="btn btn-primary" @onclick="() => editAsset()">Edit</button>
            <button type="button" class="btn btn-danger" @onclick="() => deleteModalShow()">Delete</button>
        </div>
        </AuthorizeView>        
    </div>

    <div class="container-fluid table-container">

        <div class="row row-cols-1 row-cols-md-2 text-center g-4">
            
            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@asset.id</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@name</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@desc</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Location</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@loc.value</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@status.value</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@assetType.value</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Manufacturer</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@manufacturer</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Model</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@model</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Serial Number</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@serial</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Purchase Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@purchaseDate</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Warranty Expiration</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@warrantyExp</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Estimated Life</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@estimatedLife</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Purchase Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@purchasePrice</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Comments</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@comments</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Item Count</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@itemCount</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Created</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@created</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Created By</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@createdBy.id - @createdBy.first_name @createdBy.last_name</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Updated By</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@updatedBy.id - @updatedBy.first_name @updatedBy.last_name</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Last Updated</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@lastUpdated</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Photo URL</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@photoUrl</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Path</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@path</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Borrowable</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@borrow</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

    </div>

    <div class="table-actions">
        <div class="table-actions-1">
            <a href="/asset" class="btn btn-primary" title="Go back to asset">Back</a>
        </div>
        <AuthorizeView Roles="Admin">
            <div class="table-actions-2">
                <button type="button" class="btn btn-primary" @onclick="() => editAsset()">Edit</button>
                <button type="button" class="btn btn-danger" @onclick="() => deleteModalShow()">Delete</button>
            </div>
        </AuthorizeView>
        
    </div>

</div>

@if (showDelete)
{
    <div class="modal fade show" style="display:block; background-color: rgba(10,10,10,.6);" aria-modal="true" role="dialog" @onclick="@deleteModalCancel">
        <div class="modal-dialog" @onclick:stopPropagation="true">
            <div class="modal-content">

                <!-- Modal header -->
                <div class="modal-header">
                    <h4 class="modal-title">Confirm Delete</h4>
                    <button type="button" class="btn btn-sm" @onclick="@deleteModalCancel"><span class="oi oi-x"></span></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <p>Are you sure you wish to delete the following asset?</p>
                    <p>@asset.id - @asset.name</p>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" @onclick=@deleteModalOk>Delete</button>
                    <button type="button" class="btn" @onclick="@deleteModalCancel">Cancel</button>
                </div>

            </div>
        </div>
    </div>
}

@code {
    static Type type = typeof(Asset);
    TypeAccessor accessor = TypeAccessor.Create(type);
    bool showDelete = false;

    private string name;
    private string desc;
    private Location loc;
    private Status status;
    private AssetType assetType;
    private string manufacturer;
    private string model;
    private string serial;
    private DateTime? purchaseDate;
    private DateTime? warrantyExp;
    private int? estimatedLife;
    private double? purchasePrice;
    private string comments;
    private int? itemCount;
    private DateTime created;
    private UserPartial createdBy;
    private UserPartial updatedBy;
    private DateTime lastUpdated;
    private string photoUrl;
    private string path;
    private string borrow;

    protected override async Task OnInitializedAsync()
    {
        asset = await AssetService.GetAssetById(asset.id);

        name = accessor[asset, "name"].ToString();
        desc = accessor[asset, "description"].ToString();
        loc = LocationService.GetLocationById(Int32.Parse(accessor[asset, "location_id"].ToString()));
        status = StatusService.GetStatusById(Int32.Parse(accessor[asset, "status_id"].ToString()));
        assetType = AssetTypeService.GetTypeById(Int32.Parse(accessor[asset, "type_id"].ToString()));
        manufacturer = accessor[asset, "manufacturer"].ToString();
        model = accessor[asset, "model"].ToString();
        serial = accessor[asset, "serial_number"].ToString();
        purchaseDate = (accessor[asset, "purchase_date"] != null && accessor[asset, "purchase_date"].ToString() != DateTime.MinValue.AddYears(1899).ToString()) ? DateTime.Parse(accessor[asset, "purchase_date"].ToString()) : null;
        warrantyExp = (accessor[asset, "warranty_expiration"] != null && accessor[asset, "warranty_expiration"].ToString() != DateTime.MinValue.AddYears(1899).ToString()) ? DateTime.Parse(accessor[asset, "warranty_expiration"].ToString()) : null;
        estimatedLife = accessor[asset, "estimated_life"] != null ? Int32.Parse(accessor[asset, "estimated_life"].ToString()) : null;
        purchasePrice = accessor[asset, "purchase_price"] != null ? Double.Parse(accessor[asset, "purchase_price"].ToString()) : null;
        comments = accessor[asset, "comments"].ToString();
        itemCount = accessor[asset, "item_count"] != null ? Int32.Parse(accessor[asset, "item_count"].ToString()) : null;
        created = DateTime.Parse(accessor[asset, "created"].ToString());
        createdBy = UserPartialService.GetUserById(Int32.Parse(accessor[asset, "created_by"].ToString()));
        updatedBy = UserPartialService.GetUserById(Int32.Parse(accessor[asset, "updated_by"].ToString()));
        lastUpdated = DateTime.Parse(accessor[asset, "last_updated"].ToString());
        photoUrl = accessor[asset, "photo_url"].ToString();
        path = accessor[asset, "path"].ToString();
        borrow = accessor[asset, "borrow"] != null ? accessor[asset, "borrow"].ToString() : null;
    }

    void editAsset()
    {
        this.asset.id = asset.id;
        NavigationManager.NavigateTo("/AssetEdit");
    }

    void deleteModalShow() => showDelete = true;

    void deleteModalCancel() => showDelete = false;

    void deleteModalOk()
    {
        AssetService.DeleteAsset(this.asset);
        showDelete = false;
        NavigationManager.NavigateTo("/Admin/Asset");
    }
}
