@page "/User"
@page "/Admin/User"

@using AssetManager.Classes
@inject NavigationManager NavigationManager
@inject CustomAuthenticationProvider AuthStateProvider

@*
    To Do:      
        -validation messages
        -only admin sees id field
*@


<div class="main h-100">
    <div class="container-fluid h-100 ">

        <form class="h-100 overflow-auto">

            <EditForm Model="@curUser" OnValidSubmit="@CreateUser">
                <DataAnnotationsValidator/>
                <ValidationSummary />

                @* <div class="mb-3">
                    <label for="id" class="form-label">ID</label>
                    <InputNumber type="number" @bind-Value="user.Id" class="form-control" min="1"/>
                </div> *@
            
                <div class="mb-3">
                    <label for="first_name" class="form-label">First Name</label>
                    <InputText type="text" @bind-Value="curUser.first_name" class="form-control" />
                </div>
            
                <div class="mb-3">
                    <label for="last_name" class="form-label">Last Name</label>
                    <InputText type="text" @bind-Value="curUser.last_name" class="form-control" />
                </div>
            
                <div class="mb-3">
                    <label for="phone_number" class="form-label">Phone Number</label>
                    <InputText @bind-Value="curUser.phone_number" class="form-control" pattern="[0-9]+" />
                </div>

                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <InputText type="email" @bind-Value="curUser.email" class="form-control"  />
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <InputText type="password" @bind-Value="curUser.password" class="form-control" />
                </div>
                <div class="mb-3">
                    <button type="submit"  @onclick="ModalShow" class="btn btn-primary">Add</button>
                    <button type="button" @onclick="RefreshPage" class="btn btn-primary">Reset</button>
                    <button type="button" @onclick="test" class="btn btn-primary">test</button>
                    @if (showModal)
                    {
                        <div class="modal fade show" id="myModal" style="display:block" aria-modal="true" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">                                    
                                    <div class="modal-header">
                                        <h4 class="modal-title">Confirm action</h4>
                                        <button type="button" class="close" @onclick="@ModalCancel">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <p>New account created!</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn" @onclick="@ModalCancel">OK</button>
                                        
                                    </div>

                                </div>
                            </div>
                        </div>
                    }
                    <hr />
                    
                </div>
            </EditForm>       

             

        </form>

        <div class="container">
            <div class="table-responsive-sm">

                <table class="table">
                    <thead>
                        <tr>
                            @*<th>ID</th>*@
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Phone Number</th>
                            <th>Email</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            @*<td>@user.Id</td>*@                            
                            <td>@curUser.first_name</td>
                            <td>@curUser.last_name</td>
                            <td>@curUser.phone_number</td>
                            <td>@curUser.email</td>
                        </tr>
                    </tbody>

                </table>
            </div>

        </div>
    </div>
</div>

@code{
    UserModel curUser = new UserModel();
    public async void test() {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        curUser.email = user.Identity.Name;
    }

    public void CreateUser(){
        ConnectionDB connection = new ConnectionDB();
        connection.OpenConnection();
        string query = "INSERT INTO dbo.[user](first_name, last_name, phone_number, email, password, role) VALUES('"
            + curUser.first_name + "', '" + curUser.last_name + "', '" + curUser.phone_number + "', '" + curUser.email + "', '" + curUser.password + "', 1)";
        connection.DataReader(query);
    }

    public void RefreshPage(){

        NavigationManager.NavigateTo("/User", true);

    }

    bool showModal = false;
    void ModalShow() => showModal = true;
    void ModalCancel() => showModal = false; 



}